@model webbLabb2.Models.Article

@{
    ViewData["Title"] = @Html.DisplayFor(modelItem => Model.Title);
}

<h1>@Html.DisplayFor(modelItem => Model.Title)</h1>

<div>
    <hr />
    <img src=@Html.DisplayFor(modelItem => Model.ImageUrl) style="width:40%; height:100%;">
    <p>@Model.PublishDate.ToString("d MMM yyyy")</p>
    <p>
        @Html.DisplayFor(modelItem => Model.MarkupText)
    </p>
</div>

