@{
    ViewData["Title"] = "Admin";

}
<!DOCTYPE html>

<html>

    <body>
        
        <form action="/url">
            Title: <input type="text" name="news-title">
            Write your article: <input type="text" name="news-article">
            Upload a foto or video: <button type="button">Upload</button>
            Submit when you are done.<input type="submit">
        </form>
    </body>

</html>
