@{
    ViewData["Title"] = "Home Page";
}



<div class="banner">Banner</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
<div class="article">Article</div>
