@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html>
    <body>
        <link rel="stylesheet" type="text/css" href="~/css/main.css">
        <div class="grid-container">
            <div class="header">
                Header
            </div>
            <div class="left-side"></div>
            <div class="main-content">
                <div class="banner">Banner</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
                <div class="article">Article</div>
            </div>
            <div class="right-side"></div>
            <div class="footer">Footer</div>
        </div>

    </body>
</html>