
@{
    ViewData["Title"] = "LoginScreen";
}
    <!DOCTYPE html>
    <body>
        <form method="post">

            <link rel="stylesheet" type="text/css" href="../../css/admin.css">
            <h1><b>LoginScreen</b></h1>
            <p>ID:</p>
            <input id="User" type="text" name="User" />
            <p>Password:</p>
            <input id="Password" type="password" name="Password" />
            <input id="Submit1" type="submit" value="Login" />
        </form>
    </body>

