* {box-sizing: border-box;}

.grid-container-header {
    display: grid;
}

.nav {
    display: grid;
    text-align: center;
}
.top-nav {
    background-color: black;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    order: 1;
}
.bottom-nav {
    background-color: gray;
    grid-template-columns: auto auto auto auto auto auto auto auto auto ;
    order: 3;
}

.nav a {
    display: grid;
    float: left;
    text-align: center;
    text-decoration: none;
    
}
.top-nav a {
    color: white;
    padding: 12px 8px;
    font-size: 17px;
    border-right: 1px solid gray;
}
.bottom-nav a {
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    border-right: 1px solid white;
}
  
.nav a:hover {
    background-color: blue;
    color: white;
}

.search-bar {
    float: right;
    order: 2;
    background-color: black;
}

.search-bar input[type=text] {
    float: left;
    font-size: 17px;
    padding: 7px 3px;
    margin: 5px;
    color: white;
    background-color: gray;
}
  
.search-bar button {
    float: left;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-bar button img{
    height: 30px;
    margin-top: 10px;
}
  
.search-bar button:hover {
    background: #ccc;
}

.dropdown-item:required{
    display:none;
}

.dropdown-item ul {
    list-style: none;
}
.dropdown-item p {
    color: black;
}

.dropdown-item {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 44px;
    margin-left: 5px;
    z-index: 1;

}

@media (max-width: 1200px) {
    .grid-container-header {
        grid-template-columns: auto;
    }

    .bottom-nav {
        order: 2;
    }

    .search-bar {
        order: 1;
    }

    .search-bar input[type=text] {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .top-nav {
        grid-template-columns: auto;
    }
    .search-bar {
        grid-row-start: 1;
    }

    .bottom-nav {
        grid-template-columns: auto;
    }
}