* {box-sizing: border-box;}

.grid-container-header {
    display: grid;
}

.nav {
    display: grid;
    text-align: center;
}
.top-nav {
    background-color: black;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    order: 1;
}
.bottom-nav {
    background-color: gray;
    grid-template-columns: auto auto auto auto auto auto auto auto auto ;
    order: 3;
}

.nav a {
    display: grid;
    float: left;
    text-align: center;
    text-decoration: none;
    
}
.top-nav a {
    color: white;
    padding: 12px 8px;
    font-size: 17px;
    border-right: 1px solid gray;
}
.bottom-nav a {
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    border-right: 1px solid white;
}
  
.nav a:hover {
    background-color: gray;
    color: white;
}

.search-bar {
    float: right;
    order: 2;
    background-color: black;
}

.search-bar input[type=text] {
    float: left;
    font-size: 17px;
    padding: 7px 3px;
    margin: 5px;
    color: white;
    background-color: gray;
}
  
.search-bar button {
    float: left;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
}

.search-bar button img{
    height: 30px;
    margin-top: 10px;
}
  
.search-bar button:hover {
    background: rgb(43, 40, 40);
}

.dropdown ul{
    list-style:none;
    position:relative;
}

.dropdown-item:required {
    display: none;
}

.dropdown-item {
    color: black;
    position: relative;
}

.dropdown a{
    font-size: 15px;
    margin-top: -5px;
    min-width: -webkit-fill-available;
    color: black;
    margin-left: -35px;
    background-color: #f9f9f9;

}


@media (max-width: 1200px) {
    .grid-container-header {
        grid-template-columns: auto;
    }

    .bottom-nav {
        order: 2;
    }

    .search-bar {
        order: 1;
    }

    .search-bar input[type=text] {
        width: 75%;
    }
}

@media (max-width: 600px) {
    .top-nav {
        grid-template-columns: auto;
    }
    .search-bar {
        grid-row-start: 1;
    }

    .bottom-nav {
        grid-template-columns: auto;
    }
}