

.grid-container-main {
    display: grid;
    grid-template-areas: 'l h h h h r' 'l m m m m r' 'l f f f f r';
    background-color: black;
    grid-template-columns: 10% auto auto auto auto 10%;
}

.grid-container-main > div {
    text-align: center;
    font-size: 30px;
}

.main-content {
    background-color: white;
}

.main-content > div {
    height: 300px;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
}
.main-content > .banner {
    width: 100%;
}
.main-content > .article {
    width: 25%;
}

.header { 
    grid-area: h; 
    border: 2px solid black;
    box-sizing: border-box;
}
.left-side { grid-area: l; }
.right-side { grid-area: r; }
.main-content { grid-area: m; }
.footer { grid-area: f; }

.article{
    position: relative;
}

.article-textbox {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: white;
}

    .article-textbox > p {
        font-size: 11px;
        font-family: Arial;
        color: black;
        margin-top: 1px;
    }

    .article-textbox > h4 {
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 16px;
        font-family: Tahoma;
        color: white;
        background-color: deepskyblue;
    }

@media (max-width: 1200px) {
    .main-content > .article
    {
        width: 50%;
    }

    .grid-container-main {
        grid-template-columns: 5% auto auto auto auto 5%;
    }

}

@media (max-width: 600px) {
    .main-content > .article {
        width: 100%;
    }

    .grid-container-main {
        grid-template-columns: 1% auto auto auto auto 1%;
        grid-template-areas: 'l h h h h r' 'l f f f f r' 'l m m m m r';
    }
}