
@{
    ViewData["Title"] = "LoginScreen";
}
    <!DOCTYPE html>
    <body>
        <form method="post" action="/User/VerifyUser">

            <link rel="stylesheet" type="text/css" href="../../css/admin.css">
            <h1><b>LoginScreen</b></h1>
            <p>ID:</p>
            <input id="userName" type="text" name="userName" />
            <p>Password:</p>
            <input id="UserPasswordHash" type="password" name="UserPasswordHash" />
            <input id="Submit1" type="submit" value="Login" />
        </form>
    </body>

